header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  font-size: 25px;
  text-decoration: none;
  color: orange;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__item {
  margin-right: 15px;
  margin-left: 15px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link--login {
  color: orange;
}
